<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>B599FA35-F342-4152-9C20-648FDCB4172E</key>
	<dict>
		<key>account</key>
		<string>demo</string>
		<key>url</key>
		<string>http://demo.feindura.org/cms</string>
	</dict>
</dict>
</plist>
